<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsj.blog.admin.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.zsj.blog.admin.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="user_sex" property="userSex" javaType="INT"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, password, user_sex, nick_name
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM users
    </select>
    <insert id="insert" parameterType="com.zsj.blog.admin.entity.UserEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          users (user_name, nick_name, name, password, user_sex, role_id, created_at)
        VALUES
          (#{userName}, #{nickName}, #{name}, #{password}, #{userSex}, #{role_id}, #{created_at})
    </insert>
</mapper>